name: memote release

on:
  push:
    branches: [ "main" ]
jobs:
  memote:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout main branch
      uses: actions/checkout@v2
      with:
        ref: main

    - name: Checkout gh-pages branch
      uses: actions/checkout@v2
      with:
        ref: gh-pages
        path: gh-pages-repo

    - name: Set up Python 3
      uses: actions/setup-python@v2
      with:
        python-version: '3.10.6'

    - name: Install memote
      run: pip install -r requirements.txt

    - name: Memote run
      run: |
        memote report snapshot models/iHM1533.xml  --filename="gh-pages-repo/iHM1533_release_report.html" #--experimental=models/azotobacter_vinelandii_dj/data/experiments.yml
        memote report snapshot models/iML1515.xml  --filename="gh-pages-repo/iML1515_release_report.html" #--experimental=models/rhodosporidium_toruloides_ifo_08804/data/experiments.yml
  

    - name: Auto-commit results
      uses: stefanzweifel/git-auto-commit-action@v4.4.0
      with:
        commit_user_name: memote-bot
        commit_message: "chore: update memote release report"
        file_pattern: '*release_report.html'
        branch: gh-pages
        repository: gh-pages-repo
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}